html, body {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.rc-slider-tooltip .rc-slider-tooltip-inner {
    color: #222;
    background: none;
    box-shadow: none;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    display: none;
}
