i.icon {
    font-family: Icons !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

*, .ui.button, .ui.form input[type="text"] {
    font-family: 'Palanquin' !important;
    font-weight: 300;
    font-size: 11pt;
}

@media only screen and (min-width: 1400px) {
    .ui.container{
        width: 1330px;
    }
}

